
:where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
    font-weight: var(--font-weight-3);
}

h1, .h1 {
    /*font-size: 2.5rem;*/
    font-size: var(--font-size-fluid-3);
    line-height: var(--font-lineheight-00);
    margin: 0;
}

h2, .h2 {
    font-size: var(--font-size-fluid-2);
    line-height: var(--font-lineheight-00);
    margin: 0;
}

h3, .h3 {
    font-size: var(--font-size-fluid-1);
    line-height: var(--font-lineheight-0);
    margin-bottom: 0.5rem;
}

h4, .h4 {
    font-size: 1.5rem;
    line-height: var(--font-lineheight-1);
    margin-bottom: 0.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
    line-height: var(--font-lineheight-1);
    margin-bottom: 0.5rem;
}
